@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


body{
  scroll-behavior: smooth !important;
}

img{
  width: 100%;
  height: 100%;
}

.clip{
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.header{
  width: 100%;
  background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
  url('./assets/images/adult-1866533_1280.jpg');
  background-size: cover;
  background-position: center;
}

.featured-section{
  background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), 
  url('./assets/images/smartphone-5692532_1280.jpg');
  background-size: cover;
  background-position: center;
}

.profile-header{
  background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), 
  url('./assets/images/time-2676368_1280.jpg');
  background-size: cover;
  background-position: center;
}

.form-bg{
  background-image:linear-gradient(rgba(32, 77, 136, 0.7), rgba(28, 25, 192, 0.7)), 
  url('./assets/images/bookkeeping-615384_1280.jpg');
  background-size: cover;
  background-position: center;
}

.rec.rec-carousel{
  padding: 0 !important;
  margin: 0 !important;
}

.featured .rec-arrow{
  position: absolute;
  z-index: 30;
  background-color: #0001 !important;
  border: none !important;
  border-radius: 0 !important;
}
.rec.rec-arrow-left{
  left: -.5rem;
}
.rec.rec-arrow-right{
  right: 0;
}
.rec-item-wrapper{
  padding: 0 !important;
  margin: 0 !important;
}

.testimonial-section .rec-arrow{
  position: absolute;
  z-index: 30;
  background-color: #fff !important;
}

.bqCWu, .iWchow{
  padding: .3rem !important;
  width: 35px !important;
  height: 35px !important;
  min-width: 35px !important;
  min-height: 35px !important;
  font-size: 1.2rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial-section .rec.rec-arrow-left{
  left: -.5rem !important;
}
.testimonial-section .rec.rec-arrow-right{
  right: -.5rem !important;
}


@media screen and (max-width:750px) {

  .testimonial-section .rec.rec-arrow-left{
    left: -1.5rem !important;
  }
  .testimonial-section .rec.rec-arrow-right{
    right: -1.5rem !important;
  }
  
  .testimonial-section .rec-arrow{
    position: absolute;
    z-index: 30;
    background-color: transparent !important;
    box-shadow: none !important;
  }
  

  .mobile-nav{
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .inner-mobile-nav{
    transition: .3s ease-in-out;
    transition-delay: .1s;
  }
  .mobile-nav.show, .inner-mobile-nav.show{
    transform: translateX(0);
  }
  .mobile-nav.hide, .inner-mobile-nav.hide{
    transform: translateX(-100%);
  }
}
